<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <nav th:fragment="navbar" class="navbar navbar-expand-lg fixed-top ">
        <div class="container-fluid ">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 w-100">
                <!--DROPDOWN autores-->
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="dropdown-autores" role="button">
                        Autores
                    </a>
                    <ul aria-labelledby="dropdown-autores" class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item" th:href="@{/autores}">Mostrar autores</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/autores/crear}">Crear autor</a>
                        </li>
                    </ul>
                </li>
                <!--DROPDOWN EDITORIAL-->
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="dropdown-editorial" role="button">
                        Editorial
                    </a>
                    <ul aria-labelledby="dropdown-editorial" class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" th:href="@{/editoriales}">Mostrar editoriales</a></li>
                        <li>
                            <a class="dropdown-item" th:href="@{/editoriales/crear}">Crear editorial</a>
                        </li>
                    </ul>
                </li>
                <!--DROPDOWN LIBROS-->
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                        id="dropdown-libro" role="button">
                        Libros
                    </a>
                    <ul aria-labelledby="dropdown-libro" class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" th:href="@{/libros}">Mostrar libros</a></li>
                        <li>
                            <a class="dropdown-item" th:href="@{/libros/crear}">Crear libro</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <a class="navbar-brand text-end" th:href="@{/}"><img src="../img/Logo.webp" alt="Logo" class="logo"></a>
        </div>
    </nav>
    
    <footer th:fragment="footer" class="footer py-3 bg-dark fixed-bottom">
        <div class="container d-flex justify-content-center">
            <a href="https://github.com/gabopereyra"><span class="text-muted">&copy; Gabo 🐰 - 2021</span></a>
        </div>
    </footer>

</html> 