<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
        <meta content="Libreria WEB" name="description"/>
        <meta content="Gabriel Pereyra" name="author"/>
        <title>Libreria Gabo</title>
        <!-- CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
        
        <link rel="stylesheet" href="../static/css/style.css">

        <link rel="stylesheet" th:href="@{/css/style.css}">
        
        
    </head>
    <body class="align-items-center">
      <nav th:replace="fragmentos :: navbar"></nav>

          <!-- lUEGO BORRAR STATIC PARA QUE SPRING LEVANTE LAS IMAGENES-->

        <div class="container">

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <a th:href="@{/autores}"><img src="../img/autor.webp" class="card-img-top" alt="autores"></a>
                <div class="card-body text-center">
                  <h5 class="card-title">AUTORES</h5>
                  <p class="card-text">
                    <a th:href="@{/autores}"><button type="button" class="btn btn-primary" >VER TODOS</button></a> 
                    <a th:href="@{/autores}"><button type="button" class="btn btn-success" >CREAR</button></a></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card ">
                <a th:href="@{/editoriales}"><img src="../img/editorial.webp" class="card-img-top" alt="editorial"></a>
                <div class="card-body text-center">
                  <h5 class="card-title">EDITORIALES</h5>
                  <p class="card-text">
                    <a th:href="@{/editoriales}"><button type="button" class="btn btn-primary">VER TODOS</button></a>
                    <a th:href="@{/editoriales}"><button type="button" class="btn btn-success">CREAR</button></p></a>
                </div>
              </div>
            </div>            
            <div class="col">
              <div class="card ">
                <a th:href="@{/libros}"><img src="../img/libros.webp" class="card-img-top" alt="libros"></a>
                <div class="card-body text-center">
                  <h5 class="card-title">LIBROS</h5>
                  <p class="card-text">
                    <a th:href="@{/libros}"><button type="button" class="btn btn-primary">VER TODOS</button></a>
                    <a th:href="@{/libros}"><button type="button" class="btn btn-success">CREAR</button></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <footer th:replace="fragmentos :: footer"></footer>

        <!-- JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
