<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
        <meta content="Libreria WEB" name="description"/>
        <meta content="Gabriel Pereyra" name="author"/>
        <title>Libreria Gabo</title>
        <!-- CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
        
        <link rel="stylesheet" href="../static/css/style.css">

        <link rel="stylesheet" th:href="@{/css/style.css}">
        
        
    </head>
    <body class="align-items-center">
        <nav class="navbar navbar-expand-lg fixed-top ">
            <div class="container-fluid ">
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 w-100">
                    <!--DROPDOWN autores-->
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="dropdown-autores" role="button">
                            Autores
                        </a>
                        <ul aria-labelledby="dropdown-autores" class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" th:href="@{/autores}">Mostrar autores</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/autores/crear}">Crear autor</a>
                            </li>
                        </ul>
                    </li>
                    <!--DROPDOWN EDITORIAL-->
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="dropdown-editorial" role="button">
                            Editorial
                        </a>
                        <ul aria-labelledby="dropdown-editorial" class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" th:href="@{/editoriales}">Mostrar editoriales</a></li>
                            <li>
                                <a class="dropdown-item" th:href="@{/editoriales/crear}">Crear editorial</a>
                            </li>
                        </ul>
                    </li>
                    <!--DROPDOWN LIBROS-->
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                            id="dropdown-libro" role="button">
                            Libros
                        </a>
                        <ul aria-labelledby="dropdown-libro" class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" th:href="@{/libros}">Mostrar libros</a></li>
                            <li>
                                <a class="dropdown-item" th:href="@{/libros/crear}">Crear libro</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a class="navbar-brand text-end" href="@{/}"><img src="../img/Logo.webp" alt="Logo" class="logo"></a>
            </div>
          </nav>
        </nav>


        <div class="container container-small">
            <h2 th:text="${title}"></h2>
            <hr>
            <form autocomplete="off" class="needs-validation" id="formulario" method="POST"
            novalidate th:action="@{/libros/__${action}__}" th:object="${libro}">
                <div class="mb-3">
                <input type="hidden" name="id" th:field="*{id}">
                <label for="ISBN" class="form-label">ISBN:</label>
                <input type="number" class="form-control" id="ISBN" required th:field="*{ISBN}" placeholder="Ingrese el ISBN del libro">
                <div class="invalid-feedback">El ISBN es obligatorio</div>
                <label for="titulo" class="form-label">Titulo:</label>
                <input type="text" class="form-control" id="titulo" required th:field="*{titulo}" placeholder="Ingrese el titulo del libro">
                <div class="invalid-feedback">El titulo es obligatorio</div>
                <label for="anio" class="form-label">Año:</label>
                <input type="number" class="form-control" id="anio" required th:field="*{anio}" placeholder="Ingrese el año del libro">
                <div class="invalid-feedback">El año es obligatorio</div>
                <label for="ejemplares" class="form-label">Ejemplares:</label>
                <input type="number" class="form-control" id="ejemplares" required th:field="*{ejemplares}" placeholder="Ingrese la cantidad de ejemplares del libro">
                <div class="invalid-feedback">La cantidad de ejemplares es obligatoria</div>

                <label for="autor" class="form-label">Autor:</label>
                <select aria-label="Elegir autor" class="form-select" id="autor" th:field="*{autor}">
                    <option selected value=""></option>
                    <option th:each="autor : ${autor}" th:text="${autor.nombre}"
                            th:value="${autor.id}"></option>
                </select>

                <label for="editorial" class="form-label">Editorial:</label>
                <select aria-label="Elegir editorial" class="form-select" id="editorial" th:field="*{editorial}">
                    <option selected value=""></option>
                    <option th:each="editorial : ${editorial}" th:text="${editorial.nombre}"
                            th:value="${editorial.id}"></option>
                </select>
                </div>
                <button class="btn btn-success" th:text="${action == 'guardar'} ? 'Crear libro' : 'Guardar cambios'" type="submit">Enviar</button>
              </form>
        </div>
        <footer class="footer py-3 bg-dark fixed-bottom">
            <div class="container d-flex justify-content-center">
                <a href="https://github.com/gabopereyra"><span class="text-muted">&copy; Gabo Pereyra - 2021</span</a>
            </div>
        </footer>

        <!-- JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
